h1{
    font-size: 5vh;
    margin: 0
}

h2{
    margin: 0;
    text-align: center;
}

li{
    font-size: large;
}

.cardwindow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls{
    margin-top: 30px;
    gap: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
}

button{
    border-radius: 5px;
    font-size: large;
}

#banner{
    display: flex;
    position: relative;
    top: 0;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    rotate: -30deg;
    text-align: center;
}
.cardbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    display: inline-grid;
    min-height: 90vh;
    width: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .25fr 1fr 1fr 1fr 1fr 1fr;
    border: solid black;
    border-radius: 5px;
}

.square{
    display: flex;
    border: solid black;
    user-select: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
    padding: 1vh;
}

.header{
    font-size: xx-large;
    height: 5vh;
    color: red;
    font-weight: bolder;
}

.selected{
    background-color: red;
    color: black;
}

.erupted{
    background-color: orangered;
    animation-name: eruption;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

@keyframes eruption {
    0% {background-color: red;}
    50% {background-color: yellow;}
    100% {background-color: orangered;}
}

#counter{
    display: flex;
    top: 30px;
    right: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: large;
}

.counter{
    border: solid black;
    background-color: white;
}

#count{
    font-size: xx-large;
}

#vei1{
    font-size: x-large;
    color: green;
}

#vei2{
    font-weight: bold;
    color: darkgoldenrod
}

#vei3{
    font-weight: bold;
    color: darkorange
}

#vei4{
    font-weight: bold;
    color: red
}

.free{
    color: darkred;
    font-weight: bolder;
    font-style: italic;
    font-size: x-large;
}

@media (max-aspect-ratio: 4/3){
    .cardbox{
        flex-direction: column;
    }

    #banner{
        rotate: 0deg;
    }

    .card{
        width: 97vw;
        min-height: 97vw;
    }

    #counter{
        position: fixed;
        top: 2vh;
        right: 2vw;
    }
}

.dark{
    background-color: black;
    color: green;
}

.darkSquare{
    border: solid darkslategray;
}

.big{
    font-size: x-large;
}

.bigCard{
    height: 85vh;
    width: 90vw;
}

.bigCardBox{
    flex-direction: column;
}

.bigCounter{
    position: fixed !important;
    top: 3vh !important;
    right: 3vh !important;
}

.hidden{
    display: none !important;
}